INSIGHTS:
  ID: "01827c5d-dbde-4fd5-bd57-53859ff44edb"
CI:
  DOCKER_IMAGE_NAME: "cloudfn"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/pkdarap5/hackathon-cloudFunction-umbrellarepo"
  REGISTRY_NAMESPACE: "cdt-provider-engmnt-rns"
  POLICY_NAME: "CI"
  NOLATEST: "true"
  NOBUILD: "false"
  REPLACEARGS: "true"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "hack-cloudfn"
  RELEASE_NAME_NO_GIT_BRANCH: "true"
  SERVICENOW_SERVICENAME: "wh-itops-test"
  TILLERSERVICEACCOUNTDISABLE: "true"
CT:
  POLICY_NAME: "CT"
COT:
  POLICY_NAME: "COT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
